data
archive
cache
error
*json*
log
temp
MAKEFILE
*test*
__pycache__
resource
.vscode
trans
trash
*.zip
*.tar
blacklists
rsync.py
100GB
tmp
cc_net
ark_deduper
fastText
models
*empty*
target
discard
*.bin
*.pt